<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <%= link_to "Carrot SNS", root_path, class: "brand" %>
      <div class="container nav-collapse">
        <%= render partial: "shared/menu" %>
        <% if current_user %>
          <%= render partial: "shared/logout" %>
        <% else %>
          <%= render partial: "shared/login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
